<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Sprints</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>
            Dates
          </th>
          <th>
            Complete
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sprint of sprints" (click)="gotoDetail(sprint)">
          <td>{{sprint.from}} - {{sprint.to}}</td>
          <td>0</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="delete(sprint); $event.stopPropagation()">
              Delete
            </button>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <input class="form-control mb-2 mr-sm-2 mb-sm-0" #sprintFrom placeholder="from" />
        <input class="form-control mb-2 mr-sm-2 mb-sm-0"  #sprintTo placeholder="to"/>
        <button class="btn btn-secondary" (click)="add(sprintFrom.value, sprintTo.value);">
          Add
        </button>
      </form>
    </div>
  </div>
</div>
