<h2>My Tasks</h2>
<ul class="tasks">
  <li *ngFor="let task of tasks" (click)="onSelect(task)"
      [class.selected]="task === selectedTask">
    <span class="badge">{{task.id}}</span>
    <span>{{task.name}}</span>
    <button class="delete"
            (click)="delete(task); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedTask">
  <h2>
    My task: {{selectedTask.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>Task name:</label> <input #taskName />
  <label>Task description:</label> <input #taskDescription />
  <button (click)="add(taskName.value); taskName.value=''">
    Add
  </button>
</div>
