<div class="container-fluid" *ngIf="day">
  <div class="row">
    <div class="col-md-4">
      <iframe
        src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=DAY&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=andrey.vokin%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FBerlin&amp;dates=20170518%2F20170518"
        style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped table-hover">
              <tbody>
              <tr *ngFor="let task of day.tasks">
                <td class="vertical-aligned text-center">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true" *ngIf="task.finished"></span>
                  <button class="btn btn-default" (click)="completeTask(task); $event.stopPropagation()"
                          *ngIf="!task.finished">Complete
                  </button>
                </td>
                <td class="vertical-aligned">
                  {{task.name}}
                </td>
                <td class="text-right">
                  <button class="btn btn-default" (click)="deleteTask(task); $event.stopPropagation()">Tomorrow</button>
                  <button class="btn btn-default" (click)="deleteTask(task); $event.stopPropagation()">Edit</button>
                  <button class="btn btn-default" (click)="deleteTask(task); $event.stopPropagation()">Delete</button>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="input-group">
                    <input class="form-control" placeholder="New task..." #taskName/>
                    <span class="input-group-btn">
                <button class="btn btn-default" (click)="addTask(taskName.value); taskName.value=''">
                  Add
                </button>
              </span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Notes:</label>
              <textarea class="form-control" #dayNotes></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button (click)="goBack()" class="btn btn-default">Back</button>
            <button (click)="save()" class="btn btn-default">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
