<div class="container-fluid" *ngIf="day">
  <day-menu></day-menu>
  <div class="row">
    <div class="col col-md-4">
      <calendar></calendar>
    </div>
    <div class="col col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-md-12">
            <table class="table table-striped">
              <tbody>
              <tr *ngFor="let task of day.tasks">
                <td class="vertical-aligned text-center">
                  <i class="fa fa-check" *ngIf="task.finished"></i>
                  <button class="btn btn-secondary" (click)="completeTask(task); $event.stopPropagation()"
                          *ngIf="!task.finished">Complete
                  </button>
                </td>
                <td class="vertical-aligned">
                  {{task.name}}
                </td>
                <td class="vertical-aligned">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="task.dueDate" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="refreshTasks(task)">
                    <div class="input-group-addon" (click)="d.toggle()">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </td>
                <td class="text-right">
                  <button class="btn btn-secondary" (click)="deleteTask(task); $event.stopPropagation()">Delete</button>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <div class="input-group">
                    <input class="form-control" placeholder="New task..." #taskName/>
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" (click)="addTask(taskName.value); taskName.value=''">
                        Add
                      </button>
                    </span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <div class="form-group">
              <label>Notes:</label>
              <textarea [(ngModel)]="day.notes" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-12">
            <button (click)="goBack()" class="btn btn-secondary">Back</button>
            <button (click)="save()" class="btn btn-secondary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
