<div class="container-fluid" *ngIf="sprint">
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Sprint {{sprint.from}} - {{sprint.to}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-stripped">
      <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Finished
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let goal of sprint.goals">
        <td>
          {{goal.name}}
        </td>
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="{{goal.finished}}">
            </label>
          </div>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteGoal(goal); $event.stopPropagation()">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="form-group">

        <label>Goal name:</label> <input class="form-control" #goalName/>
        <button class="btn btn-default" (click)="addGoal(goalName.value); goalName.value=''">
          Add
        </button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table>
      <tr *ngFor="let day of sprint.days" (click)="gotoDay(day)">
        <td>
          {{day.getPresentation()}}
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button (click)="goBack()" class="btn btn-default">Back</button>
    <button (click)="save()" class="btn btn-default">Save</button>
  </div>
</div>

</div>
